<div class="col-md-12 col-sm-6 col-remove">
  <div class="widget-image has-shadow">
      <div class="contact-card-2">
          <div class="cover-bg">
              <img [src]="plant.headerImageUrl" class="img-fluid" alt="...">
          </div>
          <div class="widget-body">
              <div class="quick-actions hover">
                  <div class="dropdown">
                      <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                          <i class="la la-ellipsis-h"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a href="#" class="dropdown-item remove">
                              <i class="la la-trash"></i>Delete
                          </a>
                          <a href="#" class="dropdown-item">
                              <i class="la la-edit"></i>Edit
                          </a>
                      </div>
                  </div>
              </div>
              <div class="cover-image mx-auto">
                  <img [src]="plant.profileImageUrl" alt="..." class="rounded-circle mx-auto">
              </div>
              <h4 class="name"><a href="#">{{plant.name}}</a></h4>
              <div class="job">{{plant.amountOfLight}}</div>
              <div class="job">{{plant.amountOfWater}}</div>
              <div class="text-center pt-5 pb-3">
                  <a href="#" class="btn btn-shadow">WishList</a>
                  <a href="#" class="btn btn-shadow">OwnList</a>
              </div>
          </div>
      </div>
  </div>
</div>