<div class="col-md-12 col-sm-6 col-remove">
  <div class="widget-image has-shadow">
      <div class="contact-card-2">
          <div class="cover-bg">
              <img [src]="plant.headerImageUrl" class="img-fluid" alt="...">
          </div>
          <div class="widget-body">
              <div class="cover-image mx-auto">
                  <img [src]="plant.profileImageUrl" alt="..." class="rounded-circle mx-auto">
              </div>
              <h4 class="name"><a href="#">{{plant.name}}</a></h4>
              <div class="job">{{plant.amountOfLight}}</div>
              <div class="job">{{plant.amountOfWater}}</div>
              <div class="text-center pt-5 pb-3" [hidden]="!isUserLoggedIn()">
                  <a href="#" class="btn btn-shadow">WishList</a>
                  <a href="#" class="btn btn-shadow">OwnList</a>
              </div>
              <div class="text-center pt-5 pb-3" [hidden]="!isUserLoggedIn()">
                <button class="btn btn-sm btn-secondary"  
                mwlConfirmationPopover 
                [popoverTitle] = "popoverTitle"
                [popoverMessage] = "popoverMessage"
                (confirm)="deletePlant(plant.id)"
                (cancel)="cancelClicked=true"
                placement = "left" 
                ><i class="far fa-trash-alt"></i>Delete</button>
                  <a href="#" class="dropdown-item">
                      <i class="la la-edit"></i>Edit
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>