<div class="modal-header">
  <h4 class="modal-title">{{ modalTitle }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="form" role="form" #plantForm="ngForm" ngForm (ngSubmit)="onSubmitPlant()">
  <div class="modal-body">
    <div class="form-group">
      <label for="family">Family</label>
      <select type="text" name="family" class="form-control" [(ngModel)]="plant.family.id">
        <option *ngIf="families.length != 0" value="0">--Families--</option>
        <option *ngIf="families.length == 0" value="0">Could not load families</option>
        <option *ngFor="let family of families" [value]="family.id" [selected]="family.id == plant.family.id">
          {{family.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" name="name" [(ngModel)]="plant.name"
        required>
    </div>
    <div class="form-group">
      <p>Amount of light</p>
      <label for="amountOfLightSun" class="mr-2"><i class="fas fa-sun"></i></label>
      <input type="radio" name="amountOfLight" id="amountOfLightZ" [(ngModel)]="plant.amountOfLight" value="Z">
      <label for="amountOfLightSun" class="ml-5 mr-2"><i class="fas fa-cloud-sun"></i></label>
      <input type="radio" name="amountOfLight" id="amountOfLightGDZ" [(ngModel)]="plant.amountOfLight" value="GDZ">
      <label for="amountOfLightSun" class="ml-5 mr-2"><i class="fas fa-umbrella"></i></label>
      <input type="radio" name="amountOfLight" id="amountOfLightS" [(ngModel)]="plant.amountOfLight" value="S">
    </div>
    <div class="form-group">
      <p>Amount of water</p>
      <label for="amountOfWaterO" class="mr-2"><i class="fas fa-tint"></i></label>
      <input type="radio" name="amountOfWater" id="amountOfWaterO" [(ngModel)]="plant.amountOfWater" value="O" >
      <label for="amountOfLightSun" class="ml-5 mr-2"><i class="fas fa-tint"></i><i class="fas fa-tint"></i></label>
      <input type="radio" name="amountOfWater" id="amountOfWaterOO" [(ngModel)]="plant.amountOfWater" value="OO">
      <label for="amountOfLightSun" class="ml-5 mr-2"><i class="fas fa-tint"></i><i class="fas fa-tint"></i><i class="fas fa-tint"></i></label>
      <input type="radio" name="amountOfWater" id="amountOfWaterOOO" [(ngModel)]="plant.amountOfWater" value="OOO">
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="needsSpraying" name="needsSpraying"
        [(ngModel)]="plant.needsSpraying">
      <label class="form-check-label" for="needsSpraying">
        Needs spraying
      </label>
    </div>
    <div class="form-group">
      <label for="remarks">Remarks</label>
      <textarea class="form-control" id="remarks" rows="3" name="remarks" [(ngModel)]="plant.remarks"></textarea>
    </div>
    <div class="form-group">
      <label for="headerImage">Header image</label>
      <input type="file" class="form-control-file" (change)="onHeaderImageChange($event.target.files[0])"
        id="headerImage" name="headerImage">
    </div>
    <div class="form-group">
      <label for="profileImage">Profile image</label>
      <input type="file" class="form-control-file" (change)="onProfileImageChange($event.target.files[0])"
        id="profileImage" name="profileImage">
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="plantForm.invalid || imageResizing || !filesRequired">Save changes</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismissupdatePlantModalBtn"
        (click)="activeModal.dismiss('Cross click')">Close</button>
    </div>
  </div>
</form>