<div class="modal" tabindex="-1" role="dialog" id="addPlantModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a new plant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" role="form" #addPlantForm="ngForm" (ngSubmit)="onAddPlant(addPlantForm)">
        <div class="modal-body">
          <div class="form-group">
            <label for="family">Family</label>
            <select type="text" name="family" class="form-control" ngModel="family">
              <option *ngIf="families.length != 0" value="0">--Families--</option>
              <option *ngIf="families.length == 0" value="0">Could not load families</option>
              <option *ngFor="let family of families" [value]="family.id">{{family.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name" ngModel
              #nameInput="ngModel">
          </div>
          <div class="form-group">
            <label for="amountOfLight">amount Of Light</label>
            <input type="text" class="form-control" id="amountOfLight" placeholder="amount Of Light" name="amountOfLight" ngModel
              #amountOfLightInput="ngModel">
          </div>
          <div class="form-group">
            <label for="amountOfWater">amount Of Water</label>
            <input type="text" class="form-control" id="amountOfWater" placeholder="amount Of Water" name="amountOfWater" ngModel
              #amountOfWaterInput="ngModel">
          </div><div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="needsSpraying" name="needsSpraying" ngModel #needsSprayingCheckbox="ngModel">
            <label class="form-check-label" for="flexCheckDefault">
              Needs spraying
            </label>
          </div>
          <div class="form-group">
            <label for="remarks">Remarks</label>
            <textarea class="form-control" id="remarks" rows="3" name="remarks" ngModel #remarksTextArea="ngModel"></textarea>
          </div>
          <div class="form-group">
            <label for="headerImage">Header image</label>
            <input type="file" class="form-control-file" (change)="onProfileImageChange($event.target.files[0])"
            id="headerImage" name="headerImage" >
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismissModalBtn">Close</button>
        </div>
      </form>

    </div>
  </div>
</div>